.section {
    width: 100%;
    padding-bottom: 6%;
    padding-top: 2%;
  }
  .sidebar_item {
    margin-bottom: 35px;
  }
  .sidebar_item h4 {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .sidebar_item ul {
    margin: 0;
    padding: 0;
  }
  .sidebar_item ul li {
    list-style: none;
    display: flex;
  }
  
  .sidebar_item ul li a {
    font-size: 16px;
    color: #000000;
    line-height: 45px;
    display: block;
    font-family: "Open Sans", sans-serif;
  }
  .sidebar_item ul li img {
    width: 25px;
    object-fit: contain;
    margin-left: 20px;
  }
  .shop {
    margin-bottom: 50px;
  }
  .border-product {
    padding: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
  }
  .shopBack {
    height: 250px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f3fbf7;
  }
  .shopBack img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .shoptext {
    padding-top: 10px;
  }
  .shoptext p a {
    color: #252525;
  }
  .shoptext h3 {
    color: #252525;
    margin-top: 13px;
    font-weight: bold;
    font-size: 19px;
  }
  .rating {
    margin: 5px 0;
  }
  .rating i {
    font-size: 12px;
    color: #ebb450;
  }
  .rating span {
    margin-left: 10px;
  }